

// Process Parameters:

// Process Parameters for make_igblast_ndm:
params.make_igblast_ndm.ndm_chain = 'IGH'  //* @dropdown @options:"IGH,IGK,IGL,TRA,TRB,TRD,TRG" @description:"The AIRR-seq receptor chain. Default VH."

// Process Parameters for First_Alignment_IgBlastn:
params.First_Alignment_IgBlastn.num_threads =  "4"  //* @input @description:"Number of threads (CPUs) to use in the BLAST search. Default value 4"
params.First_Alignment_IgBlastn.ig_seqtype =  "Ig"  //* @dropdown @options:"Ig,TCR" @description:"Specify Ig or T cell receptor sequence. Default Ig"
params.First_Alignment_IgBlastn.outfmt =  "MakeDb"  //* @dropdown @options:"MakeDb,AIRR" @description:"The output format for igblastn." @tooltip: "MakeDb = 7 std qseq sseq btop; AIRR = 19"
params.First_Alignment_IgBlastn.num_alignments_V =  "10"  //* @input @description:"Number of Germline sequences to show alignments for. Defualt is 10"
params.First_Alignment_IgBlastn.domain_system =  "imgt"  //* @input @description:"Domain system to be used for segment annotation. Default imgt"

// Process Parameters for First_Alignment_MakeDb:
params.First_Alignment_MakeDb.failed =  "false"  //* @checkbox @description:"Check the box to activate failed option. " @tooltip:"Specify to output the failed sequences as well."
params.First_Alignment_MakeDb.format =   "airr"  //* @dropdown @options:"airr,changeo" @description:"Output format. Also specifies the input format for tools accepting tab delimited AIRR Rearrangement or Change-O files."
params.First_Alignment_MakeDb.regions =  "default"  //* @dropdown @options:"default,rhesus-igl" @description:"IMGT CDR and FWR boundary definition to use."
params.First_Alignment_MakeDb.extended =  "true"  //* @checkbox @description:"Specify to include additional aligner specific fields in the output."
params.First_Alignment_MakeDb.asisid =  "false"  //* @checkbox @description:"Specify to prevent input sequence headers from being parsed to add new columns to database."
params.First_Alignment_MakeDb.asiscalls =  "false"  //* @checkbox @description:"Specify to prevent gene calls from being parsed into standard allele names in both the IgBLAST output and reference database."
params.First_Alignment_MakeDb.inferjunction =  "fasle"  //* @checkbox @description:"Infer the junction sequence. For use with IgBLAST v1.6.0 or older, prior to the addition of IMGT-CDR3 inference."
params.First_Alignment_MakeDb.partial =  "false"  //* @checkbox @description:"If specified, include incomplete V(D)J alignments in the pass file instead of the fail file." @tooltip:"An incomplete alignment is defined as a record that is missing a V gene assignment, J gene assignment, junction region, or productivity call."
params.First_Alignment_MakeDb.name_alignment =  ""  //*input

// Process Parameters for First_Alignment_Collapse_AIRRseq:
params.First_Alignment_Collapse_AIRRseq.conscount_min =  2  //* @input @description:"Threshold filter for the consensus value. Default is above 2"
params.First_Alignment_Collapse_AIRRseq.n_max =  10  //* @input @description:"Number of N nucliotide allowed in a sequence. Default 10"
params.First_Alignment_Collapse_AIRRseq.name_alignment =  ""  //*input 

// Process Parameters for Undocumented_Alleles_J:
params.Undocumented_Alleles_J.chain =  "IGH"  //* @dropdown @options:"IGH,IGK,IGL" @description:"The AIRR-seq receptor chain. Default IGH."
params.Undocumented_Alleles_J.num_threads =  4  //* @input @description:"Number of threads (CPUs) to use in the novel allele search. Default value 4"
params.Undocumented_Alleles_J.germline_min =  200  //* @input @description:"The minimum number of sequences that must have a particular germline allele call for the allele to be analyzed. Default 200"
params.Undocumented_Alleles_J.min_seqs =  50  //* @input @description:"Minimum number of total sequences (within the desired mutational range and nucleotide range) required for the samples to be considered.Default 50"
params.Undocumented_Alleles_J.auto_mutrange =  "true"  //* @checkbox @description:"if true, the algorithm will attempt to determine the appropriate mutation range automatically using the mutation count of the most common sequence assigned to each allele analyzed. Default true"
params.Undocumented_Alleles_J.mut_range =  "1:10"  //* @input @description:"Range of mutations that samples may carry and be considered by the algorithm. Default 1:10"
params.Undocumented_Alleles_J.pos_range =  "1:46" //* @input @description:"Range of IMGT-numbered positions that should be considered by the algorithm. Default 1:318"
params.Undocumented_Alleles_J.y_intercept =  0.125 //* @input @description:"y-intercept threshold above which positions should be considered potentially polymorphic. Default 0.125"
params.Undocumented_Alleles_J.alpha =  0.05 //* @input @description:"Alpha value used for determining whether the fit y-intercept is greater than the y_intercept threshold. Default 0.05"
params.Undocumented_Alleles_J.j_max =  0.15 //* @input @description:"Maximum fraction of sequences perfectly aligning to a potential novel allele that are allowed to utilize to a particular combination of junction length and J gene. The closer to 1, the less strict the filter for junction length and J gene diversity will be. Default 0.15"
params.Undocumented_Alleles_J.min_frac =  0.75 //* @input @description:"Minimum fraction of sequences that must have usable nucleotides in a given position for that position to considered. Default 0.75"

// Process Parameters for ogrdbstats_report_first_alignment:
params.ogrdbstats_report_first_alignment.chain =  "IGHV"  //* @input @description:"The repertoire chain to produce the report on. Default is 'IGHV'."

// Process Parameters for Undocumented_Alleles:
params.Undocumented_Alleles.chain =  "IGH"  //* @dropdown @options:"IGH,IGK,IGL" @description:"The AIRR-seq receptor chain. Default IGH."
params.Undocumented_Alleles.num_threads =  4  //* @input @description:"Number of threads (CPUs) to use in the novel allele search. Default value 4"
params.Undocumented_Alleles.germline_min =  200  //* @input @description:"The minimum number of sequences that must have a particular germline allele call for the allele to be analyzed. Default 200"
params.Undocumented_Alleles.min_seqs =  50  //* @input @description:"Minimum number of total sequences (within the desired mutational range and nucleotide range) required for the samples to be considered.Default 50"
params.Undocumented_Alleles.auto_mutrange =  "true"  //* @checkbox @description:"if true, the algorithm will attempt to determine the appropriate mutation range automatically using the mutation count of the most common sequence assigned to each allele analyzed. Default true"
params.Undocumented_Alleles.mut_range =  "1:10"  //* @input @description:"Range of mutations that samples may carry and be considered by the algorithm. Default 1:10"
params.Undocumented_Alleles.pos_range =  "1:318" //* @input @description:"Range of IMGT-numbered positions that should be considered by the algorithm. Default 1:318"
params.Undocumented_Alleles.y_intercept =  0.125 //* @input @description:"y-intercept threshold above which positions should be considered potentially polymorphic. Default 0.125"
params.Undocumented_Alleles.alpha =  0.05 //* @input @description:"Alpha value used for determining whether the fit y-intercept is greater than the y_intercept threshold. Default 0.05"
params.Undocumented_Alleles.j_max =  0.15 //* @input @description:"Maximum fraction of sequences perfectly aligning to a potential novel allele that are allowed to utilize to a particular combination of junction length and J gene. The closer to 1, the less strict the filter for junction length and J gene diversity will be. Default 0.15"
params.Undocumented_Alleles.min_frac =  0.75 //* @input @description:"Minimum fraction of sequences that must have usable nucleotides in a given position for that position to considered. Default 0.75"

// Process Parameters for make_igblast_ndm_second_alignment:
params.make_igblast_ndm_second_alignment.ndm_chain = 'IGH'  //* @dropdown @options:"IGH,IGK,IGL,TRA,TRB,TRD,TRG" @description:"The AIRR-seq receptor chain. Default VH."

// Process Parameters for Second_Alignment_IgBlastn:
params.Second_Alignment_IgBlastn.num_threads =  "4"  //* @input @description:"Number of threads (CPUs) to use in the BLAST search. Default value 4"
params.Second_Alignment_IgBlastn.ig_seqtype =  "Ig"  //* @dropdown @options:"Ig,TCR" @description:"Specify Ig or T cell receptor sequence. Default Ig"
params.Second_Alignment_IgBlastn.outfmt =  "MakeDb"  //* @dropdown @options:"MakeDb,AIRR" @description:"The output format for igblastn." @tooltip: "MakeDb = 7 std qseq sseq btop; AIRR = 19"
params.Second_Alignment_IgBlastn.num_alignments_V =  "10"  //* @input @description:"Number of Germline sequences to show alignments for. Defualt is 10"
params.Second_Alignment_IgBlastn.domain_system =  "imgt"  //* @input @description:"Domain system to be used for segment annotation. Default imgt"

// Process Parameters for Second_Alignment_MakeDb:
params.Second_Alignment_MakeDb.failed =  "false"  //* @checkbox @description:"Check the box to activate failed option. " @tooltip:"Specify to output the failed sequences as well."
params.Second_Alignment_MakeDb.format =   "airr"  //* @dropdown @options:"airr,changeo" @description:"Output format. Also specifies the input format for tools accepting tab delimited AIRR Rearrangement or Change-O files."
params.Second_Alignment_MakeDb.regions =  "default"  //* @dropdown @options:"default,rhesus-igl" @description:"IMGT CDR and FWR boundary definition to use."
params.Second_Alignment_MakeDb.extended =  "true"  //* @checkbox @description:"Specify to include additional aligner specific fields in the output."
params.Second_Alignment_MakeDb.asisid =  "false"  //* @checkbox @description:"Specify to prevent input sequence headers from being parsed to add new columns to database."
params.Second_Alignment_MakeDb.asiscalls =  "false"  //* @checkbox @description:"Specify to prevent gene calls from being parsed into standard allele names in both the IgBLAST output and reference database."
params.Second_Alignment_MakeDb.inferjunction =  "fasle"  //* @checkbox @description:"Infer the junction sequence. For use with IgBLAST v1.6.0 or older, prior to the addition of IMGT-CDR3 inference."
params.Second_Alignment_MakeDb.partial =  "false"  //* @checkbox @description:"If specified, include incomplete V(D)J alignments in the pass file instead of the fail file." @tooltip:"An incomplete alignment is defined as a record that is missing a V gene assignment, J gene assignment, junction region, or productivity call."
params.Second_Alignment_MakeDb.name_alignment =  ""  //*input

// Process Parameters for CreateGermlines:
params.CreateGermlines.failed =  "false"  //* @checkbox @description:"Check the box to activate failed option. " @tooltip:"Specify to output the failed sequences as well."
params.CreateGermlines.format =   "airr"  //* @dropdown @options:"airr,changeo" @description:"Output format. Also specifies the input format for tools accepting tab delimited AIRR Rearrangement or Change-O files."
params.CreateGermlines.g =  "dmask"  //* @dropdown @options:"full,dmask,vonly,regions" @description:"pecify type(s) of germlines to include full germline, germline with D segment masked, or germline for V segment only."
params.CreateGermlines.cloned =  "false" //* @input @description: "Specify to create only one germline per clone."
params.CreateGermlines.seq_field =  ""  //* @input @description:"Field containing the aligned sequence. Defaults to sequence_alignment (airr) or SEQUENCE_IMGT (changeo)."
params.CreateGermlines.v_field =  ""  //* @input @description:"Field containing the germline V segment call. Defaults to v_call (airr) or V_CALL (changeo)."
params.CreateGermlines.d_field =  ""  //* @input @description:"Field containing the germline V segment call. Defaults to d_call (airr) or D_CALL (changeo)."
params.CreateGermlines.j_field =  ""  //* @input @description:"Field containing the germline J segment call. Defaults to j_call (airr) or J_CALL (changeo)."
params.CreateGermlines.clone_field =  ""  //* @input @description:"Field containing clone identifiers. Defaults to clone_id (airr) or CLONE (changeo)."

// Process Parameters for changes_names_for_piglet:
params.changes_names_for_piglet.chain =  "IGH"  //* @dropdown @options:"IGH, IGL, IGK" @description:"column in data with V allele calls. Default is "v_call"."

// Process Parameters for genotype_piglet_j_call:
params.genotype_piglet_j_call.call =  "v_call"  //* @dropdown @options:"v_call, d_call, j_call" @description:"column in data with V allele calls. Default is "v_call"."

// Process Parameters for genotype_piglet_v_call:
params.genotype_piglet_v_call.call =  "v_call"  //* @dropdown @options:"v_call, d_call, j_call" @description:"column in data with V allele calls. Default is "v_call"."

// Process Parameters for make_igblast_ndm_third_alignment:
params.make_igblast_ndm_third_alignment.ndm_chain = 'IGH'  //* @dropdown @options:"IGH,IGK,IGL,TRA,TRB,TRD,TRG" @description:"The AIRR-seq receptor chain. Default VH."

// Process Parameters for third_Alignment_IgBlastn:
params.third_Alignment_IgBlastn.num_threads =  "4"  //* @input @description:"Number of threads (CPUs) to use in the BLAST search. Default value 4"
params.third_Alignment_IgBlastn.ig_seqtype =  "Ig"  //* @dropdown @options:"Ig,TCR" @description:"Specify Ig or T cell receptor sequence. Default Ig"
params.third_Alignment_IgBlastn.outfmt =  "MakeDb"  //* @dropdown @options:"MakeDb,AIRR" @description:"The output format for igblastn." @tooltip: "MakeDb = 7 std qseq sseq btop; AIRR = 19"
params.third_Alignment_IgBlastn.num_alignments_V =  "10"  //* @input @description:"Number of Germline sequences to show alignments for. Defualt is 10"
params.third_Alignment_IgBlastn.domain_system =  "imgt"  //* @input @description:"Domain system to be used for segment annotation. Default imgt"

// Process Parameters for third_Alignment_MakeDb:
params.third_Alignment_MakeDb.failed =  "false"  //* @checkbox @description:"Check the box to activate failed option. " @tooltip:"Specify to output the failed sequences as well."
params.third_Alignment_MakeDb.format =   "airr"  //* @dropdown @options:"airr,changeo" @description:"Output format. Also specifies the input format for tools accepting tab delimited AIRR Rearrangement or Change-O files."
params.third_Alignment_MakeDb.regions =  "default"  //* @dropdown @options:"default,rhesus-igl" @description:"IMGT CDR and FWR boundary definition to use."
params.third_Alignment_MakeDb.extended =  "true"  //* @checkbox @description:"Specify to include additional aligner specific fields in the output."
params.third_Alignment_MakeDb.asisid =  "false"  //* @checkbox @description:"Specify to prevent input sequence headers from being parsed to add new columns to database."
params.third_Alignment_MakeDb.asiscalls =  "false"  //* @checkbox @description:"Specify to prevent gene calls from being parsed into standard allele names in both the IgBLAST output and reference database."
params.third_Alignment_MakeDb.inferjunction =  "fasle"  //* @checkbox @description:"Infer the junction sequence. For use with IgBLAST v1.6.0 or older, prior to the addition of IMGT-CDR3 inference."
params.third_Alignment_MakeDb.partial =  "false"  //* @checkbox @description:"If specified, include incomplete V(D)J alignments in the pass file instead of the fail file." @tooltip:"An incomplete alignment is defined as a record that is missing a V gene assignment, J gene assignment, junction region, or productivity call."
params.third_Alignment_MakeDb.name_alignment =  ""  //*input

// Process Parameters for changes_names_for_piglet_1:
params.changes_names_for_piglet_1.chain =  "IGH"  //* @dropdown @options:"IGH, IGL, IGK" @description:"column in data with V allele calls. Default is "v_call"."

// Process Parameters for First_Alignment_alignment_report_table:
params.First_Alignment_alignment_report_table.name_alignment =  ""  //*input

// Pipeline Config:
$HOSTNAME='default'
params.nproc = 10 //* @input @description:"number of processes cores to use"
params.chain = "IGHV" //* @input @description:"chain"
params.ndm_chain = "IGH" //* @input @description:"chain"

process {
	
    container = 'peresay/suite:latest'
    
    //withName: First_Alignment_IgBlastn {
    //    container = 'immcantation/suite:4.4.0'
    //}
    //withName: Second_Alignment_IgBlastn {
    //    container = 'immcantation/suite:4.4.0'
    //}
    //withName: Third_Alignment_IgBlastn {
    //    container = 'immcantation/suite:4.4.0'
    //}

    withName: ogrdbstats_report {
            container = 'williamlees/ogrdbstats:latest'
        }
    withName: ogrdbstats_report_first_alignment {
            container = 'williamlees/ogrdbstats:latest'
        }
}

params.container = process.container

profiles {

    standard {
        process.executor = 'local'
        process.cpus = "10"
    }
    docker {
        docker.enabled = true
        singularity.enabled = false
    }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
        docker.enabled = false
    }
}
